@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;

    }

    .navbar {
        background-color: #81C1C1;
    }

    .navbar-inverse {
        background-color: #81C1C1;
    }
}
